<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
        .form-control {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Add New Book</h1>
    <form th:action="@{/lms/v1/book/add}" th:object="${bookDto}" method="post">
        <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
        <input type="text" th:field="*{author}" class="form-control" placeholder="Author">
        <input type="text" th:field="*{isbn}" class="form-control" placeholder="ISBN">
        <input type="text" th:field="*{genre}" class="form-control" placeholder="Genre">
        <input type="number" th:field="*{quantity}" class="form-control" placeholder="Quantity">
        <input type="submit" value="Add Book" class="btn btn-primary">
    </form>
</div>
<!-- Add Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
