<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Patrons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a href="/lms/v1/book/userPage" class="btn btn-secondary" style="position: absolute; top: 50px; left: 20px;">Go to User Page</a>
<div class="container">
    <h1 class="text-center mb-5">All Patrons</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Books Borrowed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patron : ${patrons}">
            <td th:text="${patron.id}"></td>
            <td th:text="${patron.name}"></td>
            <td th:text="${patron.email}"></td>
            <td th:text="${patron.roles}"></td>
            <td th:text="${#strings.arrayJoin(patron.bookIds, ', ')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
